<br><br>
<%= form_for(@actor, html: { class: 'form-horizontal'}) do |f| %>
 <fieldset> 
 <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2>Error al guardar Actor</h2>

      <ul>
      <% @actor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-user bigicon"></i><br>Nombre*</span>
           <div class="col-md-8">
               <%=  f.text_field :name, autofocus: true , class: "form-control",style:" width: 500px;" %>                  </div>
    </div>
     <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-transgender bigicon"></i><br>Genero*</span>
           <div class="col-md-8">
             <%= f.select :gender, options_for_select(%w[Masculino Femenino]) %>                                            </div>
   </div>
  
        <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-credit-card bigicon"></i><br>Identificacion</span>
           <div class="col-md-8">
               <%= f.text_field :identity , class: "form-control",style:" width: 500px;" %>                                  </div>
   </div>
   
        <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-at bigicon"></i><br>Correo*</span>
           <div class="col-md-8">
               <%= f.text_field :email , class: "form-control",style:" width: 500px;" %>                                  </div>
   </div>
   

        <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-facebook-square bigicon"></i><br>Perfil de facebook</span>
           <div class="col-md-8">
               <%= f.text_field :facebook_profile , class: "form-control",style:" width: 500px;" %>                                  </div>
   </div>

       <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-align-center bigicon"></i><br>Biografia*</span>
           <div class="col-md-8">
               <%= f.text_area :biography , class: "form-control",style:" width: 500px;", rows: 10 %>                                  </div>
   </div>
   
   <div class="form-group">
    <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-file-image-o bigicon"></i><br>Imagen</span>
           <div class="col-md-8">
             <%= f.hidden_field :picture_cache %>
             <%= f.file_field :picture %>         
           </div>
  </div> 
  
   <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-circle-o-notch bigicon"></i><br>Estado*</span>
           <div class="col-md-8">
             <%= f.select :state, options_for_select(%w[Activo Inactivo]) %>                                   </div>
   </div>
   
    <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-child bigicon"></i><br>Destrezas*</span>
           <div class="col-md-8" style="width: 500px;">
             <div class="panel panel-success"> 
               <div class="panel-heading" style=" color: black; background-color: #00C12B; border-color: #d6e9c6;"><br>
                </div>
                <table class="table table-striped " >
                   <thead>
                        <tr>
                        <th>Nombre</th>
                        </tr>
                   </thead>
                  <tbody>
                    <% @destrezas.each do |destreza| %>
                       <tr>
                         <td><%= destreza.nombre %></td>
                        
                         <% @destreza= @actor.destrezas.find_by_id(destreza.id) %>
                        <% if @destreza== nil %>
                          <td><%= check_box_tag "destrezas[#{destreza.id}]", destreza.id, false, class: 'destrezas_actor' %></td>
                        <% else %>
                          <td><%= check_box_tag "destrezas[#{destreza.id}]", destreza.id, true, class: 'destrezas_actor' %></td>
                          <% end %>
                       </tr>  
                      <% end %>  
                  </tbody>  
               
               </table>  
             </div>  
             
           </div>
   </div>
  
  <div class="col-md-2 col-md-offset-5 actions" >
    <%= f.submit "Aceptar", class:"btn btn-lg btn-success", id:"boton_enviar1" %>
      </div> 
</fieldset>  
<% end %>
<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

   span{
   font-size:17px;
  color:black;
 }  
    .bigicon {
        font-size: 25px;
        color: #00C12B;
    }
</style>