

<!-- Section: about -->
    <section id="about" class="home-section text-center">
   <br><br><br>		
     <div class="container">
       
        <% cont=0%>
       <% @actors.each do |actor| %>
           <% if cont==0%>
             <% @str = "<div class='row'>".html_safe %>
               <%= @str %>
             
           <%end%>
              <div class="col-xs-6 col-sm-3 col-md-3">
				       <div class="wow bounceInUp" data-wow-delay="0.2s">
                 <div class="team boxed-grey">
                   <div class="inner">
						         <%=cl_image_tag(actor.picture, :alt => "imagen", :width => 245, :height =>245) %>
                     <h2 class="actorname"><%=link_to actor.name, actor_path(actor), style:"color:white"%></h2>
                   </div>
                 </div>
				       </div>
             </div> 
          
       
            <% cont= cont+1 %>
           <%if cont==4%>
            <% @str = "</div>".html_safe %>
              <%= @str %>
            <% @str = "<br>".html_safe %>
              <%= @str %>
             <% cont=0 %>
           <% end %>
       <% end %>       
       
       </div>
	</section>
	<!-- /Section: about -->

<style>
  body {
    background-image: url(<%= asset_path 'background-actors.png' %>);
    background-repeat: no-repeat;
    background-size: 100%;
    height:100%;
  }
</style>