<section id="title" class="emerald seccion1">
  <br><br><br><br>
 <div class="container">
   <div class="row">
    <div class="col-sm-6">
      <h1><%= @actor.name %></h1>
    </div>
    <div class="col-sm-6">
      <ul class="breadcrumb pull-right">
        <li><%= link_to 'Inicio', root_path %></li>
        <li class="active">Actores</li>
      </ul>
    </div>
  </div>
</div>
</section>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @actor.gender %>
</p>

<p>
  <strong>Identity:</strong>
  <%= @actor.identity %>
</p>

<p>
  <strong>Email:</strong>
  <%= @actor.email %>
</p>

<p>
  <strong>Facebook profile:</strong>
  <%= @actor.facebook_profile %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @actor.biography %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
