<section id="title" class="emerald seccion1">
  <br><br>
 <div class="container">
   <div class="row">
    <div class="col-sm-6">
      <h1>Consultas</h1>
    </div>
    <div class="col-sm-6">
      <ul class="breadcrumb pull-right">
        <li><%= link_to 'Inicio', root_path %></li>
        <li class="active">Consultas</li>
      </ul>
    </div>
  </div>
</div>
</section>

<div class="form-group centered">
  <%= form_tag '/reportes/show' do %>
  <section class="QueryColumn">
    <section class="panel panel-success">
      <div class="panel-heading" style=" color: black; background-color: #00C12B; border-color: #d6e9c6;"><br></div> 

      <h2> Actores </h2>

      <div class="DisplayInfo">
        <p>Destrezas:</p>
        <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" data-width="32.7%" name="actorsDestrezas">
          <option value="0">Todo</option>
          <% @Destrezas.each do |destrezas| %>
          <option value="<%= destrezas.id %>"><%= destrezas.nombre %></option>
          <% end %>
        </select>
        <div class="clear"></div>
      </div>

      <div class="DisplayInfo">
        <p>Género:</p>
        <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" data-width="32.7%" name="actorsGenders">
          <option value="0">Todo</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
        <div class="clear"></div>
      </div>

      <div class="DisplayInfo">
        <p>Estado:</p>
        <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" data-width="32.7%" name="actorsStates">
          <option value="0">Todo</option>
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
        <div class="clear"></div>
      </div>

      <input type="text" name="actorsName" id="subject" class="inputCentered form-control" placeholder="Nombre">

      <div id="ActorsColumn" class="DisplayInfo">
        <input type="radio" name="orderBy" value="ByActors"> Filtrar por Actores
        <div class="clear"></div>
      </div>

    </section>
  </section>

  <section class="QueryColumn">
    <section class="panel panel-success"> 
      <div class="panel-heading" style=" color: black; background-color: #00C12B; border-color: #d6e9c6;"><br>
      </div> 

      <h2> Obras </h2>

      <div class="DisplayInfo">
        <p>Clasificación:</p>
        <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" data-width="32.7%" name="playsClasificacion">
          <option value="0">Todo</option>
          <% @Clasificaciones.each do |clasificacion| %>
          <option value="<%= clasificacion.id %>"><%= clasificacion.nombre %></option>
          <% end %>  
        </select>
        <div class="clear"></div>
      </div>

      <div class="DisplayInfo">
        <p>Géneros:</p>
        <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" data-width="32.7%" name="playsGeneros">
          <option value="0">Todo</option>
          <% @Generos.each do |generos| %>
          <option value="<%= generos.id %>"><%= generos.nombre %></option>
          <% end %>  
        </select>
        <div class="clear"></div>
      </div>

      <div class="DisplayInfo">
        <p>Estado:</p>
        <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" data-width="32.7%" name="playsState">
          <option value="0">Todo</option>
          <option value="Exhibición">Exhibición</option>
          <option value="Fuera">Fuera</option>
          <option value="Retirada">Retirada</option>
        </select>
        <div class="clear"></div>
      </div>

      <div class="unikeStile">
        <input type="radio" name="playsRadio" value="up"> Mayor
        <input type="radio" name="playsRadio" value="equals" checked> Igual
        <input type="radio" name="playsRadio" value="down"> Menor
      </div>

      <input type="text" name="playsDuracion" id="subject" class="inputCentered form-control" placeholder="Duración">

      <input type="text" name="playNombre" id="subject" class="inputCentered form-control" placeholder="Nombre">

      <div id="PlaysColumn" class="DisplayInfo">
        <input type="radio" name="orderBy" value="ByPlay" checked> Filtrar por Obras
        <div class="clear"></div>
      </div>

    </section>               
  </section>

  <section class="QueryColumn">
    <section class="panel panel-success">
      <div class="panel-heading" style=" color: black; background-color: #00C12B; border-color: #d6e9c6;"><br></div> 

      <h2> Teatro </h2>

      <div class="DisplayInfo">
        <p>Estado:</p>
        <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" data-width="32.7%" name="theatersState">
          <option value="0">Todo</option>
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
        <div class="clear"></div>
      </div>

      <div class="unikeStile">
        <input type="radio" name="theaterRadio" value="up"> Mayor
        <input type="radio" name="theaterRadio" value="equals" checked> Igual
        <input type="radio" name="theaterRadio" value="down"> Menor
      </div>

      <input type="text" name="theatersCapacity" id="subject" class="inputCentered form-control" placeholder="Capacidad">

      <input type="text" name="theaterNombre" id="subject" class="inputCentered form-control" placeholder="Nombre">

      <div id="TeatherColumn" class="DisplayInfo">
        <input type="radio" name="orderBy" value="ByTheater"> Filtrar por Teatro
      </div>
      <div class="clear"></div>

    </section>
  </section>

  <div class="clear"></div>

  <div class="col-md-2 col-md-offset-5 actions">
    <%= submit_tag 'Generar Reporte' , class:"btn btn-lg btn-success"%>
  </div>

  <% end %>

</div>
