
<script>
  $(document).ready(function () {
    parallelism.init();
  });
</script>

<div id="wrapper">

			<div id="main">
				<div id="reel">

					<!-- Header Item -->

						<div id="header" class="item" data-width="400">
							<div class="inner">
								<h1>Artmemola</h1>
								<p>Obras presentadas<br/></p>
							</div>
						</div>

					<!-- Thumb Items -->
            
       <% @plays.each do |play| %>
          	<article class="item thumb" data-width="384">
              <h2 style="color:white"><%=link_to play.title, play_path(play), style:"color:white"%></h2>
              <%=cl_image_tag(play.picture, :alt => "",class:"image") %>
					  </article>
       <% end %>   
						
					
				</div>
			</div>

			

		</div>


<style>
			body {
        background-image: url(<%= image_path 'background-plays.png' %>), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url(<%= image_path 'background-plays.png' %>);
				background-image: url(<%= image_path 'background-plays.png' %>), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url(<%= image_path 'background-plays.png' %>);
				background-image: url(<%= image_path 'background-plays.png' %>), -ms-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url(<%= image_path 'background-plays.png' %>);
				background-image: url(<%= image_path 'background-plays.png' %>), linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url(<%= image_path 'background-plays.png' %>);
				background-position: top left, bottom left, auto;
				background-size: 100%;
				background-repeat: no-repeat !important;
				padding: 0;
				font-size: 12pt;
				line-height: 1.75em;
				height: 100%;
				min-height: 450px;
				min-width: 1000px;
			}


</style>
				