<br><br>
<%= form_for(@destreza , html: { class: 'form-horizontal'}) do |f| %>
<fieldset>  
 <% if @destreza.errors.any? %>
    <div id="error_explanation">
      <h2>Error al guardar Destreza</h2>

      <ul>
      <% @destreza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-pencil bigicon"></i><br>Nombre*</span>
           <div class="col-md-8">
               <%= f.text_field :nombre , autofocus: true , class: "form-control",style:" width: 500px;" %>                  </div>
   </div>
  
     <div class="form-group">
       <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-bars bigicon"></i>Comentario*</span>
           <div class="col-md-8">
             <%= f.text_field :comentario, class: "form-control",style:" width: 500px; height:150px" %>                                  </div>
   </div>
  
  <div class="col-md-2 col-md-offset-5 actions" >
  <%= f.submit "Aceptar", class:"btn btn-lg btn-success" %>
       
      </div> 
 </fieldset>    
<% end %>
