<%= form_for(@ticket_reservation) do |f| %>
  <% if @ticket_reservation.errors.any? %>
    <div id="error_explanation">
      <h2>Error al guardar Reservación</h2>

      <ul>
      <% @ticket_reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :identity %><br>
    <%= f.text_field :identity %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
