<h1>Listing info_generals</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Fb</th>
      <th>Tw</th>
      <th>Youtube</th>
      <th>Ig</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @info_generals.each do |info_general| %>
      <tr>
        <td><%= info_general.nombre %></td>
        <td><%= info_general.direccion %></td>
        <td><%= info_general.telefono %></td>
        <td><%= info_general.email %></td>
        <td><%= info_general.fb %></td>
        <td><%= info_general.tw %></td>
        <td><%= info_general.youtube %></td>
        <td><%= info_general.ig %></td>
        <td><%= link_to 'Show', info_general %></td>
        <td><%= link_to 'Edit', edit_info_general_path(info_general) %></td>
        <td><%= link_to 'Destroy', info_general, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info general', new_info_general_path %>