<p id="notice"><%= notice %></p>
<h1>Contactenos</h1>
<p>
  <strong>Nombre:</strong>
  <%= @info_general.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @info_general.direccion %>
</p>

<div id="map"></div>

<script>

  var mapOptions =

      {

        center: new google.maps.LatLng(14.077476,-87.215951),
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP

      };

  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

  var markerOptions =

      {

        position: new google.maps.LatLng(14.077476, -87.215951),
        title: "ArtMemola"

      };

  var marker = new google.maps.Marker(markerOptions);

  marker.setMap(map);

  var infoWindowOptions =

      {

        content: '<IMG BORDER="0" name="slide" ALIGN="Left" SRC="/assets/artlogo.jpg">'

      };

  var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

  google.maps.event.addListener(marker,'click',function(e)

                                {

    infoWindow.open(map, marker);

  });
</script>

<p>
  <strong>Telefono:</strong>
  <%= @info_general.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info_general.email %>
</p>
<h1>Redes Sociales</h1>
<p>
  <strong>Fb:</strong>
  <%= @info_general.fb %>
</p>

<p>
  <strong>Tw:</strong>
  <%= @info_general.tw %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @info_general.youtube %>
</p>

<p>
  <strong>Ig:</strong>
  <%= @info_general.ig %>
</p>

<%= link_to 'Editar', edit_info_general_path(@info_general) %>
