<section id="title" class="emerald seccion1">
  <br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Contactenos</h1>
      </div>
      <div class="col-sm-6">
        <ul class="breadcrumb pull-right">
          <li><%= link_to 'Inicio', root_path %></li>
          <li class="active">Contactenos</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<p id="notice"><%= notice %></p>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-5 control-label">Nombre:</label>
    <div class="col-sm-3">
      <p class="form-control-static"><%= @info_general.nombre%></p>
    </div>
  </div> 
  <div class="form-group">
    <label class="col-sm-5 control-label">Direccion:</label>
    <div class="col-sm-3">
      <p class="form-control-static"><%= @info_general.direccion%></p>
    </div>
  </div> 
  <div id="map">
    <script>

      var mapOptions =

          {

            center: new google.maps.LatLng(14.077476,-87.215951),
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP

          };

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      var markerOptions =

          {

            position: new google.maps.LatLng(14.077476, -87.215951),
            title: "ArtMemola"

          };

      var marker = new google.maps.Marker(markerOptions);

      marker.setMap(map);

      var infoWindowOptions =

          {

            content: '<IMG BORDER="0" name="slide" ALIGN="Left" SRC="/assets/artlogo.jpg">'

          };

      var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

      google.maps.event.addListener(marker,'click',function(e)

                                    {

        infoWindow.open(map, marker);

      });
    </script>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Telefono:</label>
    <div class="col-sm-3">
      <p class="form-control-static"><%= @info_general.telefono%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Email:</label>
    <div class="col-sm-3">
      <p class="form-control-static"><%= @info_general.email%></p>
    </div>
  </div>
  <h1>Redes Sociales</h1>
  <div class="form-group">
    <label class="col-sm-4 control-label">Facebook:</label>
    <div class="col-sm-5">
      <p class="form-control-static"><%= @info_general.fb%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Twitter:</label>
    <div class="col-sm-5">
      <p class="form-control-static"><%= @info_general.tw%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Youtube:</label>
    <div class="col-sm-5">
      <p class="form-control-static"><%= @info_general.youtube%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Instagram:</label>
    <div class="col-sm-5">
      <p class="form-control-static"><%= @info_general.ig%></p>
    </div>
  </div>
</form>  


<%= link_to 'Editar', edit_info_general_path(@info_general) %>
