<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'    type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <title>SATI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
   
</head>
<body>
<div class="logo">
    <!-- Fixed navbar -->
  <div id="navigation" class="navbar navbar-default navbar-fixed-top" <% unless @navbar.nil? %> style="display:none" <% end %> >
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
            <%= image_tag("logoArtMemola.png", size: "160x55") %>
            
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><%= link_to 'Inicio', root_path, class:'smothScroll' %></li>
	            <li><a href="#quienessomos" class="smothscroll">¿Quienes somos?</a></li>
              <li><%= link_to "Actores", actorhistory_path %></li>
              <li><%= link_to "Cartelera", cartelera_path %></li>
              <li><a href="#obras" class="smothScroll">Obras</a></li>
	            <li><a href="#contacto" class="smothScroll">Contacto</a></li>
              <li class="dropdown">
                <a href="#administracion" class="smothScroll dropdown-toggle" data-toggle="dropdown" role="button">Administración <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li> <%= link_to "Generos", generos_path %></li>
                  <li> <%= link_to "Clasificaciones", clasificacions_path %></li>
                  <li> <%= link_to "Tipo de tickets", tipo_tickets_path %></li>
                  <li> <%= link_to "Destrezas",destrezas_path %></li>
                  <li> <%= link_to "Funciones", funcions_path %></li>
                   <li> <%= link_to "Obras", plays_path %></li>
                  <li> <%= link_to "Actores",  actors_path %></li>
                  <li> <%= link_to "Teatros", theaters_path %></li>
                  <li> <%= link_to "Entrega de Ticket", ticket_surrender_path %></li>
                  
                </ul>
              </li>   
           </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
</div>
<%= yield %>

</body>
</html>
