<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'    type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <title>SATI</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
   
</head>
<body>
<div class="logo">
    <!-- Fixed navbar -->
  <div id="navigation" class="navbar navbar-default navbar-fixed-top" <% unless @navbar.nil? %> style="display:none" <% end %> >
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
            <%= image_tag("logoArtMemola.png", size: "160x55") %>
            
	        </div>
	        <div class="navbar-collapse collapse">
            <% unless user_signed_in? %>
	          <ul class="nav navbar-nav">
	            <li class="active"><%= link_to 'Inicio', root_path, class:'smothScroll' %></li>
              <li><%= link_to "Obras",playhistory_path %></li>
	            <li><%= link_to "Actores", actorhistory_path %></li>
              <li><a href="#quienessomos" class="smothscroll">¿Quienes somos?</a></li>
              <li><%= link_to "Cartelera", cartelera_path %></li>
	           <li><a href="/info_generals/1" class="smothScroll">Contacto</a></li>              
           </ul>
            <% end %>
            
            <!-- Comprobar el role de administrador -->
            <% if user_signed_in? && current_user.role.name == "admin" %>
            <ul class="nav navbar-nav">
	            <li class="active"><%= link_to 'Inicio', root_path, class:'smothScroll' %></li>
              <li><%= link_to "Obras",playhistory_path %></li>
	            <li><%= link_to "Actores", actorhistory_path %></li>
              <li><a href="#quienessomos" class="smothscroll">¿Quienes somos?</a></li>
              <li><%= link_to "Cartelera", cartelera_path %></li>
	           <li><a href="info_generals/1" class="smothScroll">Contacto</a></li>              
           </ul>
            
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="smothScroll dropdown-toggle" data-toggle="dropdown" role="button">Administración <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li> <%= link_to "Generos", generos_path %></li>
                  <li> <%= link_to "Clasificaciones", clasificacions_path %></li>
                  <li> <%= link_to "Tipo de tickets", tipo_tickets_path %></li>
                  <li> <%= link_to "Destrezas",destrezas_path %></li>
                  <li> <%= link_to "Funciones", funcions_path %></li>
                  <li> <%= link_to "Obras", plays_path %></li>
                  <li> <%= link_to "Actores",  actors_path %></li>
                  <li> <%= link_to "Teatros", theaters_path %></li>
                  <li> <%= link_to "Noticias", news_index_path %></li>
                  <li> <%= link_to "Crear usuario", new_user_path %></li>
                </ul>
              </li>
            </ul>
            <% end %>
            
            <!-- Comprobar el role de taquillero -->
            <% if user_signed_in? && current_user.role.name == "taquillero" %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Entrega de Ticket", ticket_surrender_path %></li>
            </ul>
            <% end %>
            
            <ul class="nav navbar-nav pull-right">
            <% unless user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><spam  class="glyphicon glyphicon-user"></spam> Entra</a>
              <div class="dropdown-menu pull-right" id="sign_in_form">
              <%= form_for(:user, url: session_path(:user), html: { class: 'form-horizontal' }) do |f| %>
                <div class="input-group row">
                  <span class="input-group-addon">@</span>
                  <%= f.text_field :email, class: 'form-control', placeholder: 'Correo' %>    
                </div>

                <div class="input-group row">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <%= f.password_field :password, class: 'form-control', placeholder: 'Contraseña' %>    
                </div>

                <%= f.submit 'Entrar', class: 'btn btn-primary' %> 
                
              <% end %>
              </div>
            </li>
            <% else %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><spam  class="glyphicon glyphicon-user"></spam> <%= current_user.email %></a>
              <ul class="dropdown-menu" role="menu">
                  <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                </ul>
            </li>
            <% end %>
            </ul>
            
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
</div>
<%= yield %>

</body>
</html>
